.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 0 20px;
  /* width: 100%; */
  background-image: url('../assets/SfondoHome.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 43.3% 50%;
}

.titolo{
  background-color: rgba(156, 99, 25, 0.829);
  border: 2px solid #fff;
  width: 500px; /* Imposta la larghezza del box di testo */
  height: 130px; /* Imposta l'altezza del box di testo */
  display: flex;
  align-items: center; /* Centra il testo verticalmente */
  justify-content: center;
}

.paragrafo{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  max-width: 600px;
  margin-bottom: 40px;
} */
